dt, dd {
  line-height: 2em;
}

dd {
  margin-left: 10em;
}

.related {
  padding-top: 1em;
}

label {
  display: block;
}

.cake-debug, .cake-error {
  font-size: 74%;
  line-height: 1.3em;
}

table tbody a {
  font-weight: normal;
} 


.full-list .toogle-btn {
  display: block;
}

#actions-content h3 {
  margin-bottom: 1.2em;
}

.full-list table {
  font-size: 80%;
}

.full-list table thead th {
  vertical-align: top;
  white-space: nowrap;
}