/** Overwriting Cake default settings 
 ******************************************/

dt, dd {
  line-height: 2em;
}

dd {
  margin-left: 10em;
}

.related {
  padding-top: 1em;
}

label {
  display: block;
}

.cake-debug, .cake-error {
  font-size: 74%;
  line-height: 1.3em;
}

table tbody a {
  font-weight: normal;
} 



/** Full list table
 ******************************************/

.full-list .toogle-btn {
  display: block;
}

#actions-content h3 {
  margin-bottom: 1.2em;
}

.full-list table {
  font-size: 80%;
}

.full-list table thead th {
  vertical-align: top;
  white-space: nowrap;
}


/** DateTable
 ******************************************/

table.dataTable tr.odd {
background-color: #f9f9f9;
}

table.dataTable tr.odd td.sorting_1 {
  background-color: #efefef
}

table.dataTable tr.even td.sorting_1 {
  background-color: #fdfdfd;
}

.dataTables_length {
  margin-top: 27px;
}

.dataTables_filter {
  margin-bottom: 14px;
}
